
{% extends 'base.html' %}

{% block body %}
<div class="mx-auto">


    {% if user.username == detail.submitter.username or user.username == detail.access.username %}
   <h1 class="">{{ detail.title }}</h1>
  <p class=" ">Uploaded on: {{detail.created}} <br> By {{detail.submitter.username}}</p>
    <p class="">Access: {{detail.access.username}}</p>
    <a href="/media/{{detail.photo.image}}" download="photo"><button type ="button"  class="btn btn-primary">Download Image</button></a>
    <p></p>
    <a href="{% url 'photoshare:update' detail.photo.id %}"><button type ="button"  class="btn btn-warning">Update</button></a>
    <a href="{% url 'photoshare:delete' detail.photo.id %}"><button type ="button"  class="btn btn-danger">Delete</button></a>
    <p></p>


  <div class="col-md-8">
    <img src="{{detail.photo.image.url}}" alt="" width="100%" />
  </div>
  <div class="col-md-4">
    <h4>Information:</h4>
      <h6>Tags</h6>
    <ul class="list-group list-group-horizontal-lg list-unstyled py-4">
      {% for tag in detail.tags.all %}
        <li><a href="{% url 'photoshare:tag' tag.slug %}" class="btn btn-sm list-group-item">{{tag.name}}</a></li>
      {% endfor %}
    </ul>
      <h6>Description</h6>
    <p>{{ detail.description }}</p>


  </div>
</div>
      <p class="text-center">
      </p>
    {% else %}
      <p>You dont have permission for this page!</p>

    {% endif %}

</div>





{% endblock body %}