<!-- templates/navbar.html -->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #0000FF;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'photoshare:list' %}">STACEY PhotoShare</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse flex-row-reverse"
      id="navbarTogglerDemo02"
    >
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <form action = "{% url 'photoshare:search_results' %}" method="get" class="d-flex">
          <input name = "Q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'photoshare:create' %}">Add a photo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Create an album</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">{{user.username}}</a>
        </li>
        {% else %}

        <li class="nav-item">
          <a href="{% url 'user:login' %}" class="btn btn-sm btn-danger"
            >Sign In</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>